.wrapper{
    .wrapper_title{
        font-size: 34px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
        line-height: 48px;
        text-align: center; 
    }
    .wrapper_main{
        padding-top: 50px;
    }
}