.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    height: 520px;
    .banner_left{
        ul{
            list-style: none;
            padding: 0;
            text-align: left;
            li{
                position: relative;
                padding-left: 20px;
                line-height: 24px;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: #000;
                    border-radius: 100%;
                    width: 6px;
                    height: 6px;
                }
            }
        }
        .banner_title{
            font-size: 48px;
            color: #000;
            font-weight: 500;
        }
        .actions{
            margin-top: 24px;
            a{
                width: 160px;
                height: 48px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                border-radius: 4px;
                cursor: pointer;
                &.danger_action{
                    background: #FF0F3C;;
                    color: #fff;
                }
                &.ready_action{
                   background: transparent;
                   border: 1px solid #232631; 
                   margin-left: 12px;
                }
            }
        }
    }
    .banner_right{
        img{
            width: 200px;
            height: 200px;
        }
    }
}




